:root {
  --primary-color: #5964e0;
  --secondary-color: #939bf4;
  --text-color: #19202d;
  --dark-color: #6e8098;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #f4f6f8;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* website-App Baslangici - Sema */
.container-sema {
  margin: 0 auto;
}
/* Website-App Product/MOBİL baslangici */
.products {
  padding: 32px 16px;
}
.products h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 12px;
}
.products h6 {
  color: #5f6d7e;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: center;
  margin-bottom: 32px;
}

.product-text h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-top: 32px;
  margin-bottom: 24px;
}

.product-text p {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  margin-bottom: 10px;
  color: #5f6d7e;
}

.product-text h5 {
  display: none;
}

.product-img {
  width: 343px;
}

.product-text .btn {
  width: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 6px;
  background-color: #437ef7;
  color: #fff;
  padding-block: 12px;
  padding-inline: 18px;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.product-text a {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
}

/* Website-App Product/MOBİL bitisi */

/* Website-App contact/MOBİL baslangici */

.desktop-contact {
  display: none;
}

.tablet-contact {
  display: none;
}

.mobile-contact {
  border: none;
  display: flex;
  flex-wrap: wrap;
}
.contact {
  padding-inline: 16px;
}

.contact h6 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  text-align: center;
  margin-bottom: 8px;
  color: #437ef7;
}

.contact h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 16px;
}
.mail {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 30px;
}

.mail input {
  padding: 12px 16px;
  width: 343px;
  border-radius: 8px;
  border: none;
}
.mail a {
  background-color: #437ef7;
  color: #fff;
  text-decoration: none;
  padding: 12px 145px;
  text-align: center;
  margin-bottom: 8px;
  border-radius: 8px;
}

.contact-checkbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  margin-bottom: 32px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 6px;
}
/* Website-App contact/MOBİL bitisi */

/* Website-App Footer/MOBİL baslangici */

.footer-container {
  background-color: #151b28;
  color: #a5acba;
}

.footer {
  margin-inline: 16px;
  margin-bottom: 24px;
  padding-top: 32px;
  padding-inline: 16px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}

.footer-nav {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 24px;
}

.footer-nav a {
  text-decoration: none;
  color: #a5acba;
}

.social-logo {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 64px;
}

.footer-container hr {
  margin-bottom: 32px;
  color: #2e3545;
  opacity: 50%;
}

.footer-text :nth-child(2) {
  margin-inline: 36px;
}

.footer-text-h6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 16px;
  gap: 86px;
}

/*  /* Website-App Footer/MOBİL bitisi */

/* !about PRODUCT/MOBİLE BASLANGİCİ */

.about-product-box {
  margin-inline: 16px;
}

.about-product-text h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 24px;
}

.about-product-text h5 {
  display: none;
}

.about-product-img {
  margin: 0 auto;
}

.about-right-icon {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  margin-bottom: 10px;
  color: #5f6d7e;
}

.about-btn {
  width: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 6px;
  background-color: #437ef7;
  color: #fff;
  padding-block: 12px;
  padding-inline: 18px;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.about-btn a {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
}

/* !about PRODUCT/MOBİLE Bitisi */

/*! about  SSS/MOBİL   baslangici */

.sss-container {
  text-align: center;
}
.sss-container h5 {
  margin-bottom: 32px;
  color: #5f6d7e;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: center;
}
.sss-container h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 12px;
}

.down {
  display: none;
}
.sss-box {
  border: 1px solid #eaebf0;
  border-radius: 8px;
  margin-inline: 16px;
  margin-bottom: 40px;
}

.btn a {
  text-decoration: none;
  color: #437ef7;
}
summary {
  padding: 0 32px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 28px;
  padding-left: 32px;
  color: #272d37;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
}

.sss-box summary::-webkit-details-marker {
  display: none;
}

/*! about  SSS/MOBİL   bitisi */
/*! about footer/MOBİL  baslangici */

.footer-about {
  margin-inline: 16px;
}

.about-footer-logo {
  margin-bottom: 22px;
}

.footer-about p {
  color: #5f6d7e;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  margin-bottom: 24px;
}

.about-footer-social {
  display: flex;
  align-items: center;
  gap: 64px;
  margin-bottom: 24px;
}
.footer-about-nav {
  display: grid;
  justify-content: left;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 54px;
  margin-bottom: 56px;
  text-align: left;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

.footer-about-nav a {
  color: #272d37;
  text-decoration: none;
  font-size: 16px;
  font-weight: bolder;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
}

.footer-about-nav ul a {
  font-weight: 500;
  color: #5f6d7e;
  margin-bottom: 40px;
}
.footer-about-nav ul li {
  padding-block: 8px;
}
.footer-about-icon {
  margin-inline: 140px;
  margin-bottom: 4px;
}
.footer-lookcout {
  text-align: center;
  color: #5f6d7e;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: center;
}

/*! about footer/MOBİL  bitisi */

/* ------------------------------------------tablet baslangıc */

@media (width > 768px) {
  .container-sema {
    margin: 0 auto;
  }

  /*Website-App Product/TABLET Baslangici */

  .products {
    padding: 40px 32px;
    margin-inline: 32px;
  }

  .products h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 16px;
  }
  .products h6 {
    color: #5f6d7e;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    /* margin-bottom: 40px; */
  }

  .product-text h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-top: 48px;
    margin-bottom: 24px;
  }
  .product-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #5f6d7e;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .product-img {
    width: 704px;
    margin-top: 40px;
  }

  .product-text .btn {
    background-color: #437ef7;
    color: #fff;
    padding-block: 12px;
    padding-inline: 18px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 40px;
  }

  /* Website-App Product/TABLET Bitisi */

  /* Website-App contact/TABLET Baslangici */

  .desktop-contact {
    display: none;
  }

  .mobile-contact {
    display: none;
  }

  .tablet-contact {
    border: none;
    display: flex;
    flex-wrap: wrap;
  }
  .contact {
    padding-inline: 16px;
    margin-bottom: 40px;
  }

  .contact h6 {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    margin-bottom: 8px;
    color: #437ef7;
  }

  .contact h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.01em;
    text-align: center;
    margin-bottom: 32px;
  }
  .mail {
    display: flex;
    flex-direction: row;
    gap: 0;
    margin-inline: 121px;
    margin-bottom: 32px;
  }

  .mail a {
    padding: 12px 18px;
    border-radius: 0 5px 5px 0;
  }

  .mail input {
    padding: 12px 16px;
    border-radius: 5px 0 0 5px;
  }

  .contact-checkbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 32px;
    margin-inline: 121px;
  }

  /* Website-App contact/TABLET Bitisi */

  /* Website-App  footer/TABLET baslangici */

  .footer-container {
    padding-inline: 32px;
    padding-block: 40px;
    background-color: #151b28;
    color: #a5acba;
    align-items: center;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 32px;
  }

  .footer-nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .footer-nav a {
    text-decoration: none;
    color: #a5acba;
  }

  .social-logo {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .footer-text {
    display: flex;
    justify-content: space-between;
  }

  .footer-container hr {
    margin-bottom: 32px;
    color: #2e3545;
    opacity: 50%;
  }

  /* Website-App  footer/TABLET bitisi */

  /* !about PRODUCT/TABLET BASLANGİCİ */
  .about-product-box {
    margin-inline: 32px;
    margin-bottom: 40px;
  }

  .about-product-text h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-bottom: 24px;
  }
  .about-product-img {
    width: 100%;
  }

  /* !about PRODUCT/TABLET BİTİSİ */

  /* !about SS/TABLET BASLANGİCİ  */

  .sss-container {
    text-align: center;
  }
  .sss-container h5 {
    margin-bottom: 64px;
    color: #5f6d7e;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
  }
  .sss-container h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 16px;
  }

  .sss-box {
    border: 1px solid #eaebf0;
    border-radius: 8px;
    margin-inline: 112px;
    margin-bottom: 64px;
  }

  .btn a {
    text-decoration: none;
    color: #437ef7;
  }
  summary {
    padding: 0 32px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 28px;
    padding-left: 32px;
    color: #272d37;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
  }

  .sss-box summary::-webkit-details-marker {
    display: none;
  }

  .sss h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: center;
  }

  .sss h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    color: #5f6d7e;
  }
  /* ! about SSS/TABLET BİTİSİ */

  /*! about  footer/TABLET baslangici */

  .footer-about {
    margin-inline: 32px;
  }
  .footer-about-text {
    width: 247px;
  }
  .about-footer-logo {
    margin-bottom: 22px;
  }

  .footer-about p {
    margin-bottom: 24px;
  }

  .about-footer-social {
    display: flex;
    align-items: center;
    gap: 64px;
    margin-bottom: 24px;
  }
  .footer-about-nav {
    display: grid;
    justify-content: left;
    gap: 143px;
    margin-bottom: 80px;
  }

  .footer-about {
    display: flex;
    align-items: start;
    gap: 143px;
  }

  .footer-lookcout {
    text-align: center;
  }
}
/*! about  footer/TABLET bitisi */

/* ------------------------------------------tablet bitis */

/*------------------------------------------- desktop baslangici  */

@media (width >1440px) {
  .container-sema {
    padding-inline: 32px;
  }

  /* Website-app Product/DESKTOP baslangici */
  .products {
    padding: 64px 80px;
  }

  .product-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 124px;
  }

  .product-box-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 124px;
    margin-bottom: 64px;
  }
  .products h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 16px;
  }
  .products h6 {
    color: #5f6d7e;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    margin-bottom: 10px;
    margin-bottom: 16px;
  }
  .product-text h5 {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    margin-bottom: 24px;
    color: #5f6d7e;
  }

  .product-text h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-top: 48px;
    margin-bottom: 24px;
  }
  .product-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #5f6d7e;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .product-img {
    width: 560px;
    margin-top: 40px;
  }

  .product-text .btn {
    background-color: #437ef7;
    color: #fff;
    padding-block: 12px;
    padding-inline: 18px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 30px;
  }
  /*  Website-app product/DESKTOP  bitisi */
  /*  website-app contact/DESKTOP baslangici */
  .contact {
    margin-inline: 264px;
  }

  .mail {
    width: 512px;
  }
  /*  Website-app contact/DESKTOP bitisi */
  /* -Website-app Footer/DESKTOP baslangici */

  .footer-container {
    padding-inline: 112px;
    padding-block: 64px;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 32px;
  }

  .footer-nav {
    display: flex;
    align-items: center;
    gap: 55px;
  }

  .footer-nav a {
    text-decoration: none;
    color: #a5acba;
  }

  .social-logo {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .footer-text {
    display: flex;
    justify-content: space-between;
  }

  .footer-container hr {
    margin-bottom: 32px;
    color: #2e3545;
    opacity: 50%;
  }

  /* Website-app footer/DESKTOP  bitis */

  /*!--------------------------------------------------- about -Page  baslangici- sema  */
  /* !about PRODUCT/DESKTOP BASLANGİCİ */
  .about-product-box {
    margin-inline: 112px;
    display: flex;
    gap: 124px;
    align-items: center;
    margin-bottom: 64px;
  }

  .about-product-text h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-bottom: 24px;
  }

  .about-product-text h5 {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #5F6D7E;
    margin-bottom: 24px;
  }

  /* !about PRODUCT/DESKTOP BİTİSİ */

  /*! about-sıkça sorulan sorular baslangici-desktop*/

  .sss-container {
    text-align: center;
  }
  .sss-container h5 {
    margin-bottom: 64px;
    color: #5f6d7e;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
  }
  .sss-container h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 16px;
  }

  .down {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #5f6d7e;
  }
  .sss-box {
    border: 1px solid #eaebf0;
    border-radius: 8px;
    margin-inline: 112px;
    margin-bottom: 64px;
  }

  .btn a {
    text-decoration: none;
    color: #437ef7;
  }
  summary {
    padding: 0 32px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 28px;
    padding-left: 32px;
    color: #272d37;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
  }

  .sss h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: center;
  }

  .sss h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    color: #5f6d7e;
  }
  /*! about-sıkça sorulan sorular/ DESKTOP  bitisi */

  /*! about  footer/ DESKTOP  baslangici */

  .footer-about-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 140px;
    margin-bottom: 32px;
  }

  .about-footer-logo {
    margin-bottom: 22px;
  }

  .footer-about {
    margin-inline: 112px;
    margin-bottom: 64px;
  }

  .footer-about p {
    color: #5f6d7e;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    margin-bottom: 24px;
  }

  .about-footer-social {
    display: flex;
    align-items: center;
    gap: 64px;
    margin-bottom: 24px;
  }

  .footer-nav li {
    flex-grow: 1;
  }

  ul {
    list-style: none;
    padding-inline-start: 0;
  }

  .footer-nav a {
    color: #272d37;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
  }

  .footer-nav ul a {
    font-weight: 400;
    color: #5f6d7e;
  }
  .footer-nav ul li {
    padding-block: 8px;
  }

  .footer-lookcout {
    text-align: center;
  }
  /*! about footer/DESKTOP bitisi */
}
